.community--topNav{
    display: flex;
}
.community--topNav > .community--logo{
    margin: auto;
}
.community--topNav > .community--topNavText{
    width: 60%;
}
.community--topNav > .community--profile{
    margin: auto;
}
.threads--card{
    display: flex;
}
.threads--card > .thread--profile{
    margin: auto;
}
.threads--card > .thread--text{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}