.welcome{
  background-color: #E5E5E5;
  height: 100vh;
}
.logo{
    width: 4em;
    margin-top: 3em;
}
.main-title{
    font-weight: 400;
}
.question{
    margin-top: 1.4em;
    margin-bottom: 1em;
    text-align: start;
    margin-left: 1em;
    color: #4749A1;
    font-weight: 700;
}
/* https://stackoverflow.com/questions/34393465/add-svg-icon-into-button-with-css-html */
/* .test-button{
    border-radius: 50%;
} */

